<ion-view view-title="Credits">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="javascript:void(0)" class="item item-avatar item-icon-right">
                    <img src="img/rakesh.jpg">
                    <h2>Rakesh Shinde</h2>
                    <p>IBM Distinguished Engineer</p>
                </a>
                <a href="javascript:void(0)" class="item item-avatar item-icon-right">
                    <img src="img/tanmay.jpg">
                    <h2>Tanmay Ambre</h2>
                    <p>Certified IT Architect; Industry Lead Architect</p>
                </a>
                <a href="javascript:void(0)" class="item item-avatar item-icon-right">
                    <img src="img/nampreet.jpg">
                    <h2>Nampreet Pal Singh</h2>
                    <p>Integration Architect</p>
                </a>
                <a href="javascript:void(0)" class="item item-avatar item-icon-right">
                    <img src="img/rashmi.jpg">
                    <h2>Rashmi Padale</h2>
                    <p>Analyst</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
