<ion-view view-title="Technologies">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in-right">
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="list techlist">
                    <strong>UI</strong>
                    <ul>
                        <li><b>Ionic</b>
                            <ul>
                                <li>Cordova</li>
                                <li>AngularJs</li>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>Angular Material</li>
                            </ul>
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="list techlist">
                    <strong>API</strong>
                    <ul>
                        <li>Microservices Architecture</li>
                        <li>SpringBoot</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
